<div class="overlay__backdrop" (click)="onBackdropClick($event)">
  <div class="overlay__dialog" role="dialog" aria-modal="true" [attr.aria-labelledby]="headingId">
    <header class="overlay__head">
      <h2 class="overlay__heading" [id]="headingId">{{ heading() }}</h2>

      <button
        class="overlay__close"
        type="button"
        aria-label="Close"
        #closeButton
        (click)="requestClose()"
      >
        <img src="/img/icon-close.svg" alt="" aria-hidden="true" />
      </button>
    </header>

    <div class="overlay__body">
      <ng-content />
    </div>
  </div>
</div>
