<section class="summary">
  <header class="summary__headline">
    <h1 class="summary__title">Join 360</h1>
    <span class="summary__rule" aria-hidden="true"></span>
    <p class="summary__subtitle">Key Metrics at a Glance</p>
  </header>

  <div class="summary__content">
    <div class="summary__panel">
      @if (error(); as message) {
        <p class="summary__error" role="alert">{{ message }}</p>
      }

      @if (loading()) {
        <p class="summary__loading">Loading metrics…</p>
      } @else {
        <div class="summary__metrics">
          <div class="summary__row summary__row--pair">
            <a class="summary__card" routerLink="/board">
              <span class="summary__icons">
                <img
                  class="summary__icon"
                  src="/img/icon-summary-todo.svg"
                  alt=""
                  width="69"
                  height="69"
                />
                <img
                  class="summary__icon summary__icon--hover"
                  src="/img/icon-summary-todo-hover.svg"
                  alt=""
                  width="69"
                  height="69"
                />
              </span>
              <span class="summary__figures">
                <span class="summary__number">{{ todoCount() }}</span>
                <span class="summary__label">To-do</span>
              </span>
            </a>

            <a class="summary__card" routerLink="/board">
              <span class="summary__icons">
                <img
                  class="summary__icon"
                  src="/img/icon-summary-done.svg"
                  alt=""
                  width="69"
                  height="69"
                />
                <img
                  class="summary__icon summary__icon--hover"
                  src="/img/icon-summary-done-hover.svg"
                  alt=""
                  width="69"
                  height="69"
                />
              </span>
              <span class="summary__figures">
                <span class="summary__number">{{ doneCount() }}</span>
                <span class="summary__label">Done</span>
              </span>
            </a>
          </div>

          <a class="summary__card summary__card--urgency" routerLink="/board">
            <span class="summary__urgent">
              <span class="summary__icons">
                <img
                  class="summary__icon summary__icon--small"
                  src="/img/icon-summary-urgent.svg"
                  alt=""
                  width="60"
                  height="60"
                />
              </span>
              <span class="summary__figures">
                <span class="summary__number">{{ urgentCount() }}</span>
                <span class="summary__label summary__label--small">Urgent</span>
              </span>
            </span>

            <span class="summary__rule summary__rule--inside" aria-hidden="true"></span>

            <span class="summary__deadline">
              @if (nextDeadlineLabel(); as due) {
                <span class="summary__date">{{ due }}</span>
              } @else {
                <span class="summary__date summary__date--empty">No upcoming deadline</span>
              }
              <span class="summary__label summary__label--small">Upcoming Deadline</span>
            </span>
          </a>

          <div class="summary__row summary__row--trio">
            <a class="summary__card summary__card--stacked" routerLink="/board">
              <span class="summary__number">{{ totalCount() }}</span>
              <span class="summary__label">Tasks in Board</span>
            </a>

            <a class="summary__card summary__card--stacked" routerLink="/board">
              <span class="summary__number">{{ inProgressCount() }}</span>
              <span class="summary__label">Tasks In Progress</span>
            </a>

            <a class="summary__card summary__card--stacked" routerLink="/board">
              <span class="summary__number">{{ awaitFeedbackCount() }}</span>
              <span class="summary__label">Awaiting Feedback</span>
            </a>
          </div>
        </div>
      }
    </div>

    <p class="summary__greeting">
      @if (userName(); as name) {
        <span class="summary__greeting-time">{{ greeting }},</span>
        <span class="summary__greeting-name">{{ name }}</span>
      } @else {
        <span class="summary__greeting-time">{{ greeting }}!</span>
      }
    </p>
  </div>
</section>
